@import 'colors.scss';
@import 'button.scss';
@import 'z-index.scss';
@import './fonts/apercu.scss';
@import 'structure.scss';
@import 'modal.scss';
@import 'status-indicator.scss';
@import 'copy-address-field.scss';
@import 'lot-size-selector.scss';
@import 'home.scss';
@import 'start.scss';
@import 'pay.scss';
@import 'prove.scss';
@import 'congratulations.scss';
@import 'confirming.scss';


html, body, #root {
    margin: 0;
    font-family: 'apercu-mono-regular-pro';
    overflow-x: hidden;
    background-color: $white;
}

a {
    color: $black;
    text-decoration: underline;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.warning {
    font-family: 'apercu-mono-regular-pro';
    font-size: 0.75rem;
    line-height: 1.5rem;
    background: $alert;
    border-radius: 8px;
    color: $white;
    max-width: 568px;
    padding: 15px;
    margin: 0 auto 3em;
    position: relative;
    background-image: url(../components/svgs/warning.svg);
    background-position: 50px center;
    background-repeat: no-repeat;

    p {
        line-height: 1.32;
        max-width: 333px;
        margin-left: 116px;
    }

    a {
        color: $white;
    }

    @media (max-width: #{map-get($breakpoints, 'sm')}) {
        padding: 55px 15px 15px;
        background-position: center 20px;

        p {
            margin-left: 0;
            max-width: none;
        }
    }
}

.app {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 50px 0;

        .hamburger {
            flex-grow: 0;
            cursor: pointer;
            font-size: 1.5em;

            &:hover {
                color: #888;
            }
        }

        .logo {
            flex-grow: 0;
            svg {
                display: block;
            }
        }

        .web3-status {
            margin-left: 35px;
            padding: 5px 10px;
            border: 1px solid transparent;
            border-radius: 4px;
            font-size: .6em;
            font-family: 'apercu-mono-regular-pro';

            &.alert {
                border-color: #{$alert};
                color: #{$alert};
            }

            &.loading,
            &.notify {
                border-color: $black;
                color: $black;
            }

            &.success {
                border-color: $black;
                background-color: $black;
                color: $white;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }

            svg {
                display: inline-block;
                vertical-align: text-bottom;

                circle {
                    fill: $white;
                    stroke: $black;
                }

                path {
                    stroke: $black;
                }
            }

            a {
                color: unset;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    @media (max-width: #{map-get($breakpoints, 'md')}) {
        .nav {
            margin: 30px 0 80px 0;
        }
    }

    .peanut {
        &.loading {
            svg {
                path {
                    animation: pulse 3s linear infinite;
                }
            }

            @keyframes pulse {
                0% { fill: transparent; }
                50% { fill: #{$purple}; }
                100% { fill: transparent; }
            }
        }

        &.error {
            svg {
                path {
                    fill: #{$alert};
                }
            }
        }
    }

    .page-top {
        margin-bottom: 25px;
    }
}

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background-color: #{$black};
    padding: 100px 0;
    overflow: hidden;

    .footer-content {
        @extend .container;
        margin: 0 auto;
        width: 100%;
        padding: 0 40px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .white-paper {
            font-size: 1.5em;

            .white-paper-label {
                color: #{$white};
                font-family: 'apercu-bold-pro';
                margin-bottom: 10px;
            }

            .white-paper-link {
                a {
                    white-space: nowrap;
                    color: $grey;
                    text-decoration: underline;
                }
            }
        }

        .download-error-button {
            --button-color: #{$grey};
            @extend .button;
            padding: 10px 15px;
            background-color: transparent;

            &:hover {
                --button-color: #{$white};
                background-color: transparent;
                transform: none;
            }

            &:active {
                color: $black;
                border-color: $white;
                background-color: $white;
            }
        }

        .footer-bottom {
            width: #{map-get($breakpoints, 'md')};
            margin: 0 auto;

            .footer-logo {
                margin: 80px 0 20px 0;

                path {
                    fill: #{$white};
                }
            }

            .footer-links {
                a {
                    display: block;
                    color: #{$white};
                    font-size: 1.2em;
                    margin: 5px 0;
                }
            }
        }
    }

    &.include-subscription {
        padding: 0;

        .footer-content {
            background-color: #{$black};
            padding: 80px 0;
            max-width: #{map-get($breakpoints, 'md')};

            .footer-logo {
                margin-top: 0;
            }

            .download-error-button {
                display: none;
            }
        }

        .mailing-list {
            background-color: $white;
            padding: 75px 100px;
            position: relative;

            form {
                display: flex;
                width: 100%;
                margin: 0 auto;
                max-width: #{map-get($breakpoints, 'md')};

                input {
                    border: 0;
                    margin: 0;
                    font-family: 'apercu-mono-regular-pro';
                }

                input[type="text"] {
                    flex: 1 0;
                    margin-right: 24px;
                    color: $black;
                    font-size: 1.3em;

                    border: 0;
                    border-radius: 0;
                    border-bottom: 1px solid $black;
                    background-color: transparent;
                    box-shadow: none;
                    transition: all 0.5s ease-in;

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                        border-color: $black;
                    }

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active,
                    &:-internal-autofill-selected,
                    &:-internal-autofill-previewed  {
                        -webkit-box-shadow: 0 0 0 30px white inset !important;
                    }

                    &:disabled {
                        background-color: #888;
                    }
                }

                input[type="submit"] {
                    flex: 0 1;
                    padding: 20px 30px;
                    @extend .button;
                    @extend .button.black;
                }

                input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border-radius: 0;
                }
            }

            .error {
                margin: 20px auto 0;
                max-width: #{map-get($breakpoints, 'md')};
                padding: 10px 0;
                background-color: #{$white};
                color: #{$alert};
            }

            .success {
                background-color: #{$success};
                text-align: center;
                padding: 14px 0 11px 0;
                width: 190px;

                svg {
                    circle {
                        fill: #{$white};
                        stroke: #{$black};
                    }

                    path {
                        stroke: #{$black};
                    }
                }
            }
        }
    }

    @media (max-width: #{map-get($breakpoints, 'md')}) {
        .footer-content {
            padding: 0 40px;
            flex-direction: column;
            align-items: flex-start;

            .download-error-button {
                margin-top: 2em;
            }
        }

        &.include-subscription {
            .footer-content {
                padding: 80px 40px;

                .white-paper {
                    flex-direction: column;
                    align-items: flex-start;

                    .white-paper-link {
                        margin-top: 40px;
                    }
                }
            }

            .mailing-list {
                width: 100%;
                padding: 0 40px;
                box-sizing: border-box;

                form {
                    flex-direction: column;

                    input[type="text"] {
                        padding: 16px;
                        font-size: .9em;
                        margin: 0 0 20px;
                    }

                    input[type="submit"] {
                        padding: 15px;
                        font-size: 1em;

                        &:hover {
                            background-color: #{$black};
                        }
                    }
                }

                .success {
                    padding: 8px 0 5px 0;
                    width: unset;
                }
            }
        }
    }
}
