button, .button {
    &.black {
        --button-color: #{$black};
    }

    box-sizing: border-box;
    border: 3px solid var(--button-color);
    padding: 20px 40px;
    font-family: 'apercu-mono-regular-pro';
    font-size: 1.25em;
    color: var(--button-color);
    background-color: #{$white};
    white-space: nowrap;
    transform: scale(1);
    transition: transform 150ms ease-in-out;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: var(--button-color);
        color: #{$white};
        transform: scale(1.05);
    }

    &:disabled {
        border-color: #{$light-grey};
        color: #{$light-grey};
        cursor: unset;

        &:hover {
            background-color: $white;
            transform: none;
        }
    }

    @include media-breakpoint-down('sm') {
        width: 100%;
    }
}
