button, %button {
    @extend %font-family-medium;
    font-size: 0.75rem;
    line-height: 117%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 192px;
    padding: $grid-base $gutter-width;
    color: $black;
    border: 1px solid $black;
    border-radius: 45px;
    background-color: $white;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
    text-align: center;

    &:hover {
        background-color: $parchment;
    }

    &:active,
    &.active {
        background-color: $black;
        color: $white;
    }

    &:disabled {
        color: $graphite;
        border-color: $graphite;
        cursor: not-allowed;

        &:hover {
            background-color: $white;
        }
    }

    @include media-breakpoint-down('sm') {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

%button-primary {
    @extend %button;
    background-color: $black;
    color: $white;

    &:hover {
        background-color: $graphite-tint-60;
        border-color: $graphite-tint-60;
        color: $parchment;
    }

    &:active,
    &.active {
        background-color: $black;
        border-color: $black;
    }

    &:disabled {
        color: $graphite-shade-60;
        border-color: $graphite;
        background-color: $graphite;

        &:hover {
            background-color: $graphite;
        }
    }
}

%button-medium {
    @extend %button;
    font-size: 0.5rem;
    line-height: 100%;
    padding: 9px ($gutter-width / 2);
    min-width: 116px;
}

@mixin hide-button-text {
    text-indent: 1000%;
    white-space: nowrap;
    overflow: hidden;
}
