$white: #fffdfc;
$parchment: #F3EFEC;
$black: #111010;
$lighter-grey: #f9f9f9;
$light-grey: #bababa;
$dark-grey: #333;
$graphite: #999390;
$graphite-shade-60: #D6D3D1;
$graphite-shade-80: #EBE8E6;
$graphite-tint-60: #423E3B;
$mint: #0B8F78;
$turmeric: #FCB01C;

$alert: #9C3131;
$success: #5CE783;
