$white: #fffdfc;
$parchment: #F3EFEC;
$black: #111010;
$lighter-grey: #f9f9f9;
$light-grey: #bababa;
$grey: #999390;
$grey--60: #D6D3D1;
$grey--80: #EBE8E6;
$grey-60: #423E3B;
$dark-grey: #333;
$mint: #0B8F78;

$alert: #9C3131;
$success: #5CE783;
