.confirming {
    .page-body {
        .description {
            .error {
                margin-top: 20px;
            }

            a {
                @extend %button-primary;
                display: inline-block;
                margin-top: 1em;
            }
        }
    }
}
