.congratulations {
    .page-body {
        .description {
            .bond-duration {
                font-family: 'apercu-bold-pro';
                margin: 30px 0;
            }

            .tdt-id-label {
                color: $grey;
            }

            .copy-address-field {
                margin: 36px auto;
                max-width: 578px;
                background-color: rgba($grey, 0.2);
                border-color: $grey;
            }
        }

        .description a,
        .cta a {
            @extend %button-primary;
            margin-bottom: 100px;
            display: inline-block;
        }
    }
}
