.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $gutter-width $gutter-width ($gutter-width * 2);
    width: 100%;
    position: relative;

    .hamburger {
        flex-grow: 0;
        cursor: pointer;
        font-size: 1.5em;

        &:hover {
            color: #888;
        }
    }

    .logo {
        flex-grow: 0;
        svg {
            display: block;
        }
    }

    .web3-status {
        margin-left: 35px;
        padding: 5px 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: .6em;
        font-family: 'apercu-mono-regular-pro';

        &.alert {
            border-color: #{$alert};
            color: #{$alert};
        }

        &.loading,
        &.notify {
            border-color: $black;
            color: $black;
        }

        &.success {
            border-color: $black;
            background-color: $black;
            color: $white;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        svg {
            display: inline-block;
            vertical-align: text-bottom;

            circle {
                fill: $white;
                stroke: $black;
            }

            path {
                stroke: $black;
            }
        }

        a {
            color: unset;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .side-nav-toggle-btn {
        display: none;
    }

    .side-nav {
        width: $header-width;
        padding: 0 ($gutter-width / 2) 0 $gutter-width;
        position: absolute;
        left: 0;
        top: 100%;
        transition: left 0.5s ease-in-out;

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin: 0 0 $grid-base * 3;

                a {
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'apercu-regular-pro', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    letter-spacing: 0.15em;
                    padding: $grid-base;
                    border-radius: $grid-base / 2;

                    &.active {
                        background-color: $black;
                        color: $white;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down('md') {
        display: block;
        padding-bottom: $gutter-width;

        .web3-status {
            margin: $grid-base * 3 auto 0;
        }

        .side-nav-toggle-btn {
            display: block;
            position: absolute;
            top: $gutter-width - 5px;
            right: $gutter-width - 5px;
            padding: 0;
            margin: 0;
            padding: 0;
            margin: 0;
            width: 40px;
            height: 40px;

            background-image: url(../components/svgs/hamburger-open.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;

            cursor: pointer;
            border: 0;
            @include hide-button-text;

            &:hover {
                background-color: transparent;
            }

            &.open {
                background-image: url(../components/svgs/hamburger-close.svg);
            }
        }

        .side-nav {
            left: -($header-width);

            &.open {
                left: 0;
            }
        }
    }
}
