.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $gutter-width $gutter-width ($gutter-width * 2);
    width: 100%;
    position: relative;

    .hamburger {
        flex-grow: 0;
        cursor: pointer;
        font-size: 1.5em;

        &:hover {
            color: #888;
        }
    }

    .logo {
        flex-grow: 0;
        svg {
            display: block;
        }
    }

    .side-nav-toggle-btn {
        display: none;
    }

    .side-nav {
        width: $header-width;
        padding: 0 ($gutter-width / 2) 0 $gutter-width;
        position: absolute;
        left: 0;
        top: 100%;
        transition: left 0.5s ease-in-out;

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin: 0 0 $grid-base * 3;

                a {
                    display: block;
                    @extend %nav;
                    text-decoration: none;
                    line-height: 100%;
                    padding: $grid-base;
                    border-radius: $grid-base / 2;

                    &:hover {
                        background-color: $graphite-shade-80;
                    }

                    &.active {
                        background-color: $black;
                        color: $white;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down('md') {
        display: block;
        padding-bottom: $gutter-width;

        .web3-status {
            margin: $grid-base * 3 auto 0;
        }

        .side-nav-toggle-btn {
            display: block;
            position: absolute;
            top: 20px;
            right: 32px;
            padding: 0;
            margin: 0;
            padding: 0;
            margin: 0;
            min-width: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;

            background-size: 20px;
            background-position: center;
            background-image: url(../components/svgs/hamburger-open.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $graphite-shade-60;

            cursor: pointer;
            border: 0;
            @include hide-button-text;

            &:hover {
                background-color: $graphite-shade-60;
            }

            &.open {
                background-image: url(../components/svgs/hamburger-close.svg);
            }
        }

        .side-nav {
            left: -($header-width);

            &.open {
                left: 0;
            }
        }
    }
}
