.content-home {
    min-height: 668px;
    overflow: hidden;

    .warning {
        display: none;
    }

    @include media-breakpoint-down('sm') {
        background-size: contain;
    }
}

.home {
    position: relative;
    text-align: center;

    h1 {
        text-align: center;
        margin: 77px 0 65px;
    }

    .mint-or-redeem {
        display: flex;
        flex-direction: row;
        justify-content: center;

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 64px 36px;

            &:first-of-type {
                border-right: 1px solid rgba($graphite, 0.5);
            }
        }

        svg {
            margin: 0 0 27px;
        }

        a {
            @extend %button-primary;
            display: block;
        }
    }

    .ferro {
        max-width: 55%;
        transform: translate(-50%, 0) rotate(126.63deg);
        transform-origin: center;
        position: absolute;
        left: 50%;
    }

    @include media-breakpoint-down('sm') {

        .mint-or-redeem {
            flex-direction: column;

            > div {
                &:first-of-type {
                    border-right: 0;
                }
            }
        }

        .ferro {
            max-width: 100%;
        }
    }
}
