.home {
    font-family: 'apercu-mono-regular-pro';
    max-width: map-get($breakpoints, 'md');
    margin: 3em auto 0;

    .title {
        font-size: 4em;
        position: relative;
        font-family: 'apercu-bold-pro';

        .subtitle {
            font-size: .2em;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: right;
            font-family: 'apercu-mono-regular-pro';

            .vertical-aligned {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .mint-or-redeem {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 80px 0 170px 0;

        a {
            text-decoration: none!important;
            flex: 0;
            position: relative;

            &:first-of-type {
                margin-right: 60px;
            }
        }
    }

    .step-by-step {
        width: 100vw;
        margin-left: calc((100vw - 100%) / -2);
        margin-top: 110px;
        border-width: 1px 0;
        border-style: solid;
        border-color: $black;
        font-size: .75em;

        ol {
            counter-reset: step-by-step;
            list-style: none;

            width: #{map-get($breakpoints, 'md')};
            margin: 0 auto;
            padding: 75px 0;
            display: flex;

            li {
                counter-increment: step-by-step;

                flex: 1;

                &::before {
                    content: "0" #{counter(step-by-step)};
                    display: block;
                    font-weight: bold;
                    line-height: 2em;
                }
            }
        }
    }

    .mission-statement {
        padding: 60px 0;

        .hook {
            font-size: 2em;
            line-height: 2em;
            font-family: 'apercu-bold-pro';
        }

        .line-and-sinker {
            font-size: .8em;
            line-height: 2em;
        }
    }

    @media (max-width: #{map-get($breakpoints, 'md')}) {
        .title {
            font-size: 2.75em;

            .subtitle {
                margin: 5px 50px 0 0;
                font-size: .2em;

                .vertical-aligned {
                    float: right;
                    text-align: left;
                }
            }
        }

        .step-by-step {
            padding: 10px 20px;

            ol {
                flex-direction: column;
                width: 100%;
                box-sizing: border-box;
                padding: 30px;

                li {
                    margin: 30px 0;
                }
            }
        }

        .mission-statement {
            .hook {
                line-height: 1em;
                font-size: 1.5em;
                margin: 30px 0;
            }

            .line-and-sinker {
                line-height: 1em;
                font-size: .75em;
            }
        }
    }
}
