.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #{fade($black, 60%)};

    &.closed {
        display: none;
    }

    &.open {
        display: block;
    }

    .close {
        text-align: end;
        padding: 10px;

        .x {
            display: inline-block;
            cursor: pointer;
        }
    }

    .modal-body {
        margin: 200px auto;
        padding: 20px 25px 40px 80px;
        width: #{$content-width};
        background-color: #{$white};
        border: 1px solid black;
    }
}


.modal.connect-wallet {
    .modal-body {
        padding: 20px 40px;
    }

    .wallets {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .wallet-option {
            flex: 1;
            padding: 20px 40px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;

            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                background-color: darken($white, 5%);
                cursor: pointer;
            }

            img {
                height: 30px;
            }
        }
    }
}