map-get($breakpoints, 'md'): 768px;

.news {
    .title {
        font-size: 4em;
        position: relative;
        font-family: 'apercu-bold-pro';
        margin-bottom: 80px;
    }

    .divider {
        border-top: 1px solid #70BBFF;
        position: absolute;
        width: 100vw;
        left: 0;
    }
}

.news-item {
    margin-bottom: 80px;

    header {
        font-family: 'apercu-mono-regular-pro';
        font-size: 0.5em;
        margin-top: 3em;
        margin-bottom: 3em;
        color: #201713;
        line-height: .5;
        letter-spacing: 3px;
        display: inline-block;
        width: 100vw;
        
        border-top: 1px solid black;
        box-sizing: border-box;

        /*
         * FIXME: The text is not aligned to the baseline. CSS 💉
         */
        & > div {
            padding: 0.5em 0px;
            border-bottom: 1px solid black;
        }
    }

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 115%;
        color: #5A9CFE;
    }

    .body p {
        font-family: 'apercu-regular-pro';
        font-style: normal;
        font-weight: normal;
        font-size: 0.75em;
        line-height: 140.5%;
        color: #201713;
    }

}

@media (max-width: #{map-get($breakpoints, 'md')}) {
    .news .title {
        font-size: 2.75em;

        margin-bottom: 50px;
    }

    .news-item .body p {
        font-size: 0.6em;
    }
}
