.page {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: map-get($breakpoints, 'lg');
    margin: 0 auto;
    position: relative;

    .page-content {
        width: 71.43%;
    }

    @include media-breakpoint-down('md') {
        .page-content {
            width: 100%;
        }
        // TODO mobile placement and style
        .progress-panel {
            display: none;
        }
    }
}

.page-top {
    margin-bottom: 25px;

    .error {
        color: $alert;
    }
}

.warning {
    text-align: left;
    font-size: 0.75rem;
    line-height: 1.5rem;
    background: $alert;
    border-radius: 8px;
    color: $white;
    max-width: 568px;
    padding: 15px;
    margin: 0 auto 3em;
    position: relative;
    background-image: url(../components/svgs/warning.svg);
    background-position: 50px center;
    background-repeat: no-repeat;

    p {
        line-height: 1.32;
        max-width: 333px;
        margin-left: 116px;
    }

    a {
        color: $white;
    }

    @include media-breakpoint-down('sm') {
        padding: 55px 15px 15px;
        background-position: center 20px;

        p {
            margin-left: 0;
            max-width: none;
        }
    }
}

.deposit-start, .invoice, .pay, .prove, .congratulations, .redemption-start, .confirming {
    text-align: center;
    min-height: 675px;

    .page-body {
        display: flex;
        flex-direction: column;
        margin: 0 auto 30px;
        position: relative;

        .step {
            flex: 0 1;
            color: $graphite;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .title {
            flex: 0 1;
            @extend %h1;
            margin-bottom: 40px;
        }

        hr {
            flex: 0 1;
            border-style: dashed;
            border-width: 2px 0 0 0;
            border-color: $graphite;
            width: 150px;
            margin: 0 auto 40px auto;
        }

        .description {
            flex: 0 1;
            margin-bottom: 40px;
        }

        .cta {
            flex: 1 1;
            min-height: 100px;
            position: relative;

            button {
                @extend %button-primary;
            }
        }

        .error {
            flex: 1 1;
            color: $alert;
            margin: 25px 0;
            word-break: break-word;
        }
    }
}
