.pay {
    .page-body {
        .signer-fee {
            margin: 40px;

            .signer-fee-label {
                font-family: 'apercu-bold-pro';
            }
        }
    }

    .copy-address-field {
        font-size: 1.125em;
        max-width: 800px;
        margin: 0 auto;
    }
}
