.pay {
    .page-body {
        .custodial-fee {
            margin-top: 40px;

            .custodial-fee-label {
                font-family: 'apercu-bold-pro';
            }
        }
    }

    .confirming  {

        // This is for the "Loading" svg, NOT the "Peanut" svg
        // Leaving as a WIP
        // svg {
        //     stroke-dasharray: 500;
        //     stroke-dashoffset: 500;
        //     animation: dash 4s linear infinite;
        //     transform: rotate(270deg);
        //     stroke-linecap: round;

        //     path {
        //         stroke: $purple;
        //         transform: translate(175px, 175px)
        //     }
        // }

        // @keyframes dash {
        //     from {
        //         stroke-dashoffset:1000;
        //     }
        //     to {
        //         stroke-dashoffset: 0;
        //     }
        // }
    }
}
