.prove-modal {
    display: flex;
    flex-direction: row;

    .modal-left {
        display: flex;
        flex-direction: column;
        text-align: left;

        .description {
            font-size: 1em;
        }

        .cta, .cti {
            margin: 10px 0 20px 0;
        }

        .cti {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .modal-right {
        position: relative;
        overflow: hidden;
        min-width: 460px;
    }
}
