.start {
    .page-left {
        .peanuts {
            position: absolute;
            left: -378px;
            bottom: -100px;
            transform: rotate(90deg);
            overflow: hidden;

            svg {
                path {
                    fill: @purple;
                }
            }
            // right-most
            svg:first-of-type {
                transform: translate(122px, 0)
            }

            // left-most
            svg:last-of-type {
                transform: translate(122px, 0)
            }
        }
    }

    .page-right {

        .description {
            flex: 0 1;
            font-size: .8em;
            margin-bottom: 20px;
        }

        .cta {
            flex: 1 1;
            font-size: .8em;
        }

        .metamask {
            flex: 0 0;
            font-size: .8em;
            margin-bottom: 80px;
        }
    }
}