.redemption-start {
    .paste-field {
        position: relative;
        margin-bottom: 20px;

        label {
            color: $grey;
        }

        input {
            width: 100%;
            margin: 15px 0;
            height: 2em;
            font-size: 1.2em;
            padding: 2px 50px 0px 10px;
            box-sizing: border-box;
            background-color: $white;
            border: 1px solid $dark-grey;
            border-radius: 5px;
            box-shadow: none;
            text-align: center;

            &:focus {
                outline: none;
                background-color: $lighter-grey;
            }
        }

        &.alert > input {
            color: $alert;
            border-color: $alert;
        }

        .check-icon, .x-icon {
            position: absolute;
            right: 12px;
            bottom: 24px;
        }

        .check-icon {
            circle {
                fill: $black;
                stroke: $black;
            }

            path {
                stroke: $white;
            }
        }
    }
}