.status-indicator {
    position: relative;
    height: 260px;
    width: 260px;
    margin: 0 auto;
    overflow: hidden;

    .tlogo, .btclogo {
        position: absolute;
        z-index: 1;
        top: 81px;
        left: 79px;
    }

    .tlogo {
        animation: spin 1750ms 1;
        animation-timing-function: ease-in-out;
    }

    &.pulse::before {
      content: '';
      position: absolute;
      top:50%;
      left: 50%;
      animation: shadow-pulse 5000ms infinite;
      animation-timing-function: ease-in-out;
    }

    &.purple::before, &.green::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &.purple .wavy-svg {
      background: #{$purple};
    }

    &.green .wavy-svg {
      background: #{$success};
    }

    &.pulse .wavy-svg {
      background: transparent;
    }

    &.rotate {
      animation: rotate 45s linear infinite;
      transform-origin: center;
    }

    .wavy-svg {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: $black;
        z-index: 0;
    }

    .st0 {
        fill: $white;
    }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px $grey;
  }
  30% {
    box-shadow: 0 0 255px 255px $black;
  }
  50% {
    box-shadow: 0 0 255px 255px transparent;
  }
  51% {
    box-shadow: 0 0 0 0px transparent;
  }
  52% {
    box-shadow: 0 0 0 0px $grey;
  }
  80% {
    box-shadow: 0 0 255px 255px $black;
  }
  100% {
    box-shadow: 0 0 255px 255px transparent;
  }
}

@keyframes spin
{
    0% {
        transform: scaleX(0)
    }
    100% {
        transform: scaleX(1)
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
