$grid-base: 8px;
$gutter-width: $grid-base * 4;
$header-width: 180px;

// inspired by bootstrap
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$app-max-widths: (
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

@mixin media-breakpoint-up($bp_key) {
    $min: map-get($breakpoints, $bp_key);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-down($bp_key) {
    $max: map-get($breakpoints, $bp_key);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

html, body, #root {
    margin: 0;
    overflow-x: hidden;
    background-color: $parchment;
}

.container {
    @include media-breakpoint-up('md') {
        padding: 0;
        max-width: map-get($app-max-widths, 'md');
    }

    @include media-breakpoint-up('lg') {
        max-width: map-get($app-max-widths, 'lg');
    }

    @include media-breakpoint-up('xl') {
        max-width: map-get($app-max-widths, 'xl');
    }
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    width: 100%;
    flex: 1;
    color: #{$black};
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down('md') {
        display: block;
    }
}

.content {
    flex: 1;
    background-color: $white;
    padding: $gutter-width;
    margin:  0 $gutter-width 0 $header-width;
    box-shadow: 0px 30px 40px rgba(153, 147, 144, 0.15);
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;

    @include media-breakpoint-down('md') {
        margin: 0 $gutter-width 0 $gutter-width;

        &.side-nav-open {
            transform: translateX($header-width);
        }
    }
}
