$gutter-width: 32px;

// inspired by bootstrap
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$app-max-widths: (
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

@mixin media-breakpoint-up($bp_key) {
    $min: map-get($breakpoints, $bp_key);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-breakpoint-down($bp_key) {
    $max: map-get($breakpoints, $bp_key);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

html, body, #root {
    margin: 0;
    overflow-x: hidden;
    background-color: $white;
}

.container {
    @include media-breakpoint-up('md') {
        padding: 0;
        max-width: map-get($app-max-widths, 'md');
    }

    @include media-breakpoint-up('lg') {
        max-width: map-get($app-max-widths, 'lg');
    }

    @include media-breakpoint-up('xl') {
        max-width: map-get($app-max-widths, 'xl');
    }
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    width: 100%;
    flex: 1;
    color: #{$black};
    font-size: 1.5em;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.side-nav {
    width: 164px;
    padding-left: $gutter-width;
}

.content {
    flex: 1;
}
