.deposit-start, .invoice, .pay, .prove, .congratulations, .redemption-start, .confirming {
    display: flex;
    flex-direction: column;
    font-family: 'apercu-mono-regular-pro';
    text-align: center;
    min-height: 675px;

    .page-body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .step {
            flex: 0 1;
            color: @blue;
            font-size: .5em;
            margin-bottom: 30px;
        }

        .title {
            flex: 0 1;
            font-size: 1.75em;
            font-weight: bold;
            margin-bottom: 40px;
            font-family: 'apercu-bold-pro';
        }
        
        hr {
            flex: 0 1;
            border-style: dashed;
            border-width: 2px 0 0 0;
            border-color: @blue;
            width: 150px;
            margin: 0 auto 40px auto;
        }
        
        .description {
            flex: 0 1;
            font-size: .8em;
            margin-bottom: 40px;
        }
    
        .cta {
            flex: 1 1;
            min-height: 100px;
            position: relative;
        }

        .error {
            flex: 1 1;
            font-size: .7em;
            color: @alert;
            margin-top: 25px;
        }
    }
}
