.web3-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .network-status {
        margin-right: 18px;
        color: $graphite;

        svg {
            margin-right: 10px;
            vertical-align: middle;

            path {
                fill: $graphite;
            }
        }
    }

    button {
        background-color: $parchment;
        @extend %nav;
        min-width: 0;
        padding: 5px 14px;
        line-height: 100%;

        svg {
            display: inline-block;
            vertical-align: text-bottom;
            margin: 0 10px 0 0;
        }
    }

    .account-btn {
        position: relative;
        overflow: visible;
        text-transform: none;

        &:hover {
            &:after {
                content: 'COPY';
                display: block;
                background-color: $black;
                color: $white;
                line-height: 100%;
                padding: 8px 13px;
                border-radius: $grid-base;

                position: absolute;
                top: calc(100% + 5px);
                left: 50%;
                transform: translateX(-50%);
            }

            // caret for copy tooltip
            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid $black;

                position: absolute;
                top: calc(100% + 1px);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:active {
            color: $black;
        }

        &:focus {
            outline: 0;
        }

        &.copied {
            &:hover {
                &:after {
                    content: 'COPIED!';
                }
            }
        }
    }

    .hidden-copy-field {
        position: absolute;
        right: 999999px;
    }

    a {
        color: unset;
    }

    &:hover {
        cursor: pointer;
    }

    &.alert {
        color: #{$alert};
    }

    &.loading,
    &.notify {
        color: $black;
    }

    &.success {
        svg {
            path {
                fill: $black;
            }
        }

        .network-status {
            color: $black;

            &.ropsten {
                color: $mint;

                svg {
                    path {
                        fill: $mint;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down('sm') {
        flex-direction: column;

        .network-status {
            margin: 0 0 $grid-base;
        }
    }
}
