button,
.button {
  border: 3px solid var(--button-color);
  padding: 20px 40px;
  font-family: 'apercu-mono-regular-pro';
  font-size: 1.25em;
  color: var(--button-color);
  background-color: #fff;
  white-space: nowrap;
  transform: scale(1);
  transition: transform 150ms ease-in-out;
  cursor: pointer;
}
button.blue,
.button.blue {
  --button-color: #479CFF;
}
button.black,
.button.black {
  --button-color: #000;
}
button:hover:enabled,
.button:hover:enabled {
  background-color: var(--button-color);
  color: #fff;
  transform: scale(1.05);
}
button:focus,
.button:focus {
  background-color: #1481ff;
}
button:disabled,
.button:disabled {
  border-color: #bababa;
  color: #bababa;
  cursor: unset;
}
.peanuts {
  z-index: 1;
}
footer {
  z-index: 2;
}
.modal {
  z-index: 3;
}
/*
 * Web Fonts from colophon-foundry.org
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Colophon Foundry. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2019 Colophon Foundry
 *
 * Licenced to Michael Gluzman Thesis
 */
@font-face {
  font-family: 'apercu-mono-regular-pro';
  src: url('css/fonts/Apercu/apercu-mono-regular-pro-web/apercu-mono-regular-pro.eot');
  src: url('css/fonts/Apercu/apercu-mono-regular-pro-web/apercu-mono-regular-pro.eot?#iefix') format('embedded-opentype'), url('css/fonts/Apercu/apercu-mono-regular-pro-web/apercu-mono-regular-pro.woff2') format('woff2'), url('css/fonts/Apercu/apercu-mono-regular-pro-web/apercu-mono-regular-pro.woff') format('woff'), url('css/fonts/Apercu/apercu-mono-regular-pro-web/apercu-mono-regular-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercu-bold-pro';
  src: url('css/fonts/Apercu/apercu-bold-pro-web/apercu-bold-pro.eot');
  src: url('css/fonts/Apercu/apercu-bold-pro-web/apercu-bold-pro.eot?#iefix') format('embedded-opentype'), url('css/fonts/Apercu/apercu-bold-pro-web/apercu-bold-pro.woff2') format('woff2'), url('css/fonts/Apercu/apercu-bold-pro-web/apercu-bold-pro.woff') format('woff'), url('css/fonts/Apercu/apercu-bold-pro-web/apercu-bold-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.deposit-start,
.invoice,
.pay,
.prove,
.congratulations,
.redemption-start,
.confirming {
  display: flex;
  flex-direction: column;
  font-family: 'apercu-mono-regular-pro';
  text-align: center;
  min-height: 675px;
}
.deposit-start .page-body,
.invoice .page-body,
.pay .page-body,
.prove .page-body,
.congratulations .page-body,
.redemption-start .page-body,
.confirming .page-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.deposit-start .page-body .step,
.invoice .page-body .step,
.pay .page-body .step,
.prove .page-body .step,
.congratulations .page-body .step,
.redemption-start .page-body .step,
.confirming .page-body .step {
  flex: 0 1;
  color: #479CFF;
  font-size: 0.5em;
  margin-bottom: 30px;
}
.deposit-start .page-body .title,
.invoice .page-body .title,
.pay .page-body .title,
.prove .page-body .title,
.congratulations .page-body .title,
.redemption-start .page-body .title,
.confirming .page-body .title {
  flex: 0 1;
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: 'apercu-bold-pro';
}
.deposit-start .page-body hr,
.invoice .page-body hr,
.pay .page-body hr,
.prove .page-body hr,
.congratulations .page-body hr,
.redemption-start .page-body hr,
.confirming .page-body hr {
  flex: 0 1;
  border-style: dashed;
  border-width: 2px 0 0 0;
  border-color: #479CFF;
  width: 150px;
  margin: 0 auto 40px auto;
}
.deposit-start .page-body .description,
.invoice .page-body .description,
.pay .page-body .description,
.prove .page-body .description,
.congratulations .page-body .description,
.redemption-start .page-body .description,
.confirming .page-body .description {
  flex: 0 1;
  font-size: 0.8em;
  margin-bottom: 40px;
}
.deposit-start .page-body .cta,
.invoice .page-body .cta,
.pay .page-body .cta,
.prove .page-body .cta,
.congratulations .page-body .cta,
.redemption-start .page-body .cta,
.confirming .page-body .cta {
  flex: 1 1;
  min-height: 100px;
  position: relative;
}
.deposit-start .page-body .error,
.invoice .page-body .error,
.pay .page-body .error,
.prove .page-body .error,
.congratulations .page-body .error,
.redemption-start .page-body .error,
.confirming .page-body .error {
  flex: 1 1;
  font-size: 0.7em;
  color: #E7755C;
  margin-top: 25px;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal.closed {
  display: none;
}
.modal.open {
  display: block;
}
.modal .close {
  text-align: end;
  padding: 10px;
}
.modal .close .x {
  display: inline-block;
  cursor: pointer;
}
.modal .modal-body {
  margin: 200px auto;
  padding: 20px 25px 40px 80px;
  width: 768px;
  background-color: #fff;
}
.status-indicator {
  position: relative;
  height: 260px;
  width: 260px;
  margin: 0 auto;
  overflow: hidden;
}
.status-indicator .tlogo,
.status-indicator .btclogo {
  position: absolute;
  z-index: 1;
  top: 81px;
  left: 79px;
}
.status-indicator .tlogo {
  animation: spin 1750ms 1;
  animation-timing-function: ease-in-out;
}
.status-indicator.pulse::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  animation: shadow-pulse 5000ms infinite;
  animation-timing-function: ease-in-out;
}
.status-indicator.purple::before,
.status-indicator.green::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.status-indicator.purple::before {
  background: #370C5F;
}
.status-indicator.green::before {
  background: #5CE783;
}
.status-indicator .wavy-svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.status-indicator .st0 {
  fill: #fff;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px #5CE783;
  }
  30% {
    box-shadow: 0 0 255px 255px #5CE783;
  }
  50% {
    box-shadow: 0 0 255px 255px transparent;
  }
  51% {
    box-shadow: 0 0 0 0px transparent;
  }
  52% {
    box-shadow: 0 0 0 0px #370C5F;
  }
  80% {
    box-shadow: 0 0 255px 255px #370C5F;
  }
  100% {
    box-shadow: 0 0 255px 255px transparent;
  }
}
@keyframes spin {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.home {
  font-family: 'apercu-mono-regular-pro';
}
.home .title {
  font-size: 4em;
  position: relative;
  font-family: 'apercu-bold-pro';
}
.home .title .subtitle {
  font-size: 0.2em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  font-family: 'apercu-mono-regular-pro';
}
.home .title .subtitle .vertical-aligned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.home .mint-or-redeem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 80px 0 170px 0;
}
.home .mint-or-redeem a {
  text-decoration: none!important;
  flex: 0;
  position: relative;
}
.home .mint-or-redeem a:first-of-type {
  margin-right: 60px;
}
.home .step-by-step {
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2);
  margin-top: 110px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #9bcfff;
  background-color: #f9f9f9;
  font-size: 0.75em;
}
.home .step-by-step ol {
  counter-reset: step-by-step;
  list-style: none;
  width: 768px;
  margin: 0 auto;
  padding: 75px 0;
  display: flex;
}
.home .step-by-step ol li {
  counter-increment: step-by-step;
  flex: 1;
  color: #333;
}
.home .step-by-step ol li::before {
  content: "0" counter(step-by-step);
  display: block;
  color: #479CFF;
  font-weight: bold;
  line-height: 2em;
}
.home .mission-statement {
  padding: 60px 0;
}
.home .mission-statement .hook {
  font-size: 2em;
  line-height: 2em;
  font-family: 'apercu-bold-pro';
}
.home .mission-statement .line-and-sinker {
  font-size: 0.8em;
  line-height: 2em;
}
@media (max-width: 768px) {
  .home .title {
    font-size: 2.75em;
  }
  .home .title .subtitle {
    margin: 5px 50px 0 0;
    font-size: 0.2em;
  }
  .home .title .subtitle .vertical-aligned {
    float: right;
    text-align: left;
  }
  .home .step-by-step {
    padding: 10px 20px;
  }
  .home .step-by-step ol {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
  }
  .home .step-by-step ol li {
    margin: 30px 0;
  }
  .home .mission-statement .hook {
    line-height: 1em;
    font-size: 1.5em;
    margin: 30px 0;
  }
  .home .mission-statement .line-and-sinker {
    line-height: 1em;
    font-size: 0.75em;
  }
}
.redemption-start .paste-field {
  position: relative;
  margin-bottom: 20px;
}
.redemption-start .paste-field label {
  color: #666;
}
.redemption-start .paste-field input {
  width: 100%;
  margin: 15px 0;
  height: 2em;
  font-size: 1.2em;
  font-family: 'apercu-mono-regular-pro';
  padding: 2px 50px 0px 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: none;
  text-align: center;
}
.redemption-start .paste-field input:focus {
  outline: none;
  background-color: #f9f9f9;
}
.redemption-start .paste-field.success > input {
  color: #5CE783;
  border-color: #5CE783;
}
.redemption-start .paste-field.alert > input {
  color: #E7755C;
  border-color: #E7755C;
}
.redemption-start .paste-field .check-icon,
.redemption-start .paste-field .x-icon {
  position: absolute;
  right: 12px;
  top: 42px;
}
.pay .page-body .custodial-fee {
  margin-top: 40px;
}
.pay .page-body .custodial-fee .custodial-fee-label {
  font-family: 'apercu-bold-pro';
}
.pay .page-body .copy-address .address {
  color: #479CFF;
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 1px;
}
.pay .page-body .copy-address .address:hover {
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
  word-wrap: break-word;
}
.pay .page-body .copy-address .copied {
  color: red;
}
.pay .hidden-copy-field {
  position: absolute;
  right: 999999px;
}
.prove-modal {
  display: flex;
  flex-direction: row;
}
.prove-modal .modal-left {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.prove-modal .modal-left .description {
  font-size: 1em;
}
.prove-modal .modal-left .cta,
.prove-modal .modal-left .cti {
  margin: 10px 0 20px 0;
}
.prove-modal .modal-left .cti {
  cursor: pointer;
  text-decoration: underline;
}
.prove-modal .modal-right {
  position: relative;
  overflow: hidden;
  min-width: 460px;
}
.prove-modal .modal-right .peanuts {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(90deg);
  overflow: hidden;
}
.prove-modal .modal-right .peanuts svg path {
  fill: #370C5F;
}
.prove-modal .modal-right .peanuts svg:first-of-type {
  transform: translate(-50px, 8px);
}
.prove-modal .modal-right .peanuts svg:last-of-type {
  transform: translate(-50px, -8px);
}
.congratulations .page-body .description .bond-duration {
  font-family: 'apercu-bold-pro';
  margin-top: 30px;
}
.confirming .page-body .description .error {
  margin-top: 20px;
  color: #E7755C;
}
html,
body,
#root {
  margin: 0;
  font-family: 'apercu-mono-regular-pro';
  overflow-x: hidden;
}
a {
  color: #479CFF;
  text-decoration: underline;
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.app {
  flex: 1;
  color: #000;
  font-family: sans-serif;
  font-size: 1.5em;
  width: 768px;
  margin: 0 auto;
}
.app .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0;
}
.app .nav .hamburger {
  flex-grow: 0;
  cursor: pointer;
  font-size: 1.5em;
}
.app .nav .hamburger:hover {
  color: #888;
}
.app .nav .logo {
  flex-grow: 0;
}
.app .nav .logo svg {
  display: block;
}
.app .nav .web3-status {
  margin-left: 35px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 0.6em;
  font-family: 'apercu-mono-regular-pro';
}
.app .nav .web3-status.loading {
  border-color: #370C5F;
  color: #370C5F;
}
.app .nav .web3-status.alert {
  border-color: #E7755C;
  color: #E7755C;
}
.app .nav .web3-status.notify {
  border-color: #479CFF;
  color: #479CFF;
}
.app .nav .web3-status.success {
  border-color: #5CE783;
  color: #5CE783;
}
.app .nav .web3-status svg {
  display: inline-block;
  vertical-align: text-bottom;
}
.app .nav .web3-status a {
  color: unset;
}
@media (max-width: 768px) {
  .app {
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
  }
  .app .nav {
    margin: 30px 0 80px 0;
  }
}
.app .peanut.loading svg path {
  animation: pulse 3s linear infinite;
}
@keyframes pulse {
  0% {
    fill: transparent;
  }
  50% {
    fill: #370C5F;
  }
  100% {
    fill: transparent;
  }
}
.app .peanut.error svg path {
  fill: #E7755C;
}
.app .page-top {
  margin-bottom: 25px;
}
footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  background-color: #000;
  padding: 80px 0;
  overflow: hidden;
}
footer .footer-content .white-paper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 768px;
  margin: 0 auto;
}
footer .footer-content .white-paper .white-paper-label {
  font-size: 2.25em;
  color: #fff;
  max-width: 200px;
  flex: 1;
  font-family: 'apercu-bold-pro';
}
footer .footer-content .white-paper hr {
  border-style: dashed;
  border-width: 1px 0 0 0;
  border-color: #fff;
  margin: 0 50px;
  flex: 1;
}
footer .footer-content .white-paper .white-paper-link {
  font-size: 1.2em;
  flex: 0;
}
footer .footer-content .white-paper .white-paper-link a {
  white-space: nowrap;
  color: #479CFF;
  text-decoration: underline;
}
footer .footer-content .footer-bottom {
  width: 768px;
  margin: 0 auto;
}
footer .footer-content .footer-bottom .footer-logo {
  margin: 80px 0 20px 0;
}
footer .footer-content .footer-bottom .footer-logo path {
  fill: #fff;
}
footer .footer-content .footer-bottom .footer-links a {
  display: block;
  color: #fff;
  font-size: 1.2em;
  margin: 5px 0;
}
footer.include-subscription {
  background-image: url('static/Flow.png');
  background-color: #370C5F;
  background-position: center top;
  background-size: 100% auto;
  padding: 50px 0 0 0;
}
footer.include-subscription .footer-content {
  background-color: #000;
  padding: 80px;
}
footer.include-subscription .footer-content .footer-logo {
  margin-top: 0;
}
footer.include-subscription .mailing-list {
  margin: 75px auto;
  width: 768px;
  position: relative;
}
footer.include-subscription .mailing-list form {
  display: flex;
  width: 100%;
}
footer.include-subscription .mailing-list form input {
  border: 0;
  margin: 0;
  font-family: 'apercu-mono-regular-pro';
}
footer.include-subscription .mailing-list form input[type="text"] {
  flex: 1 0;
  padding-left: 24px;
  color: #333;
  font-size: 1.3em;
}
footer.include-subscription .mailing-list form input[type="text"]:disabled {
  background-color: #888;
}
footer.include-subscription .mailing-list form input[type="submit"] {
  flex: 0 1;
  padding: 20px 30px;
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
  text-decoration: underline;
  cursor: pointer;
}
footer.include-subscription .mailing-list form input[type="submit"]:hover {
  background-color: #5CE783;
}
footer.include-subscription .mailing-list form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
footer.include-subscription .mailing-list .error {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  color: #E7755C;
}
footer.include-subscription .mailing-list .success {
  background-color: #5CE783;
  text-align: center;
  padding: 14px 0 11px 0;
  width: 190px;
}
footer.include-subscription .mailing-list .success svg circle {
  fill: #fff;
  stroke: #000;
}
footer.include-subscription .mailing-list .success svg path {
  stroke: #000;
}
@media (max-width: 768px) {
  footer.include-subscription .footer-content {
    padding: 80px 50px;
  }
  footer.include-subscription .footer-content .white-paper {
    flex-direction: column;
    align-items: flex-start;
  }
  footer.include-subscription .footer-content .white-paper .white-paper-link {
    margin-top: 40px;
  }
  footer.include-subscription .mailing-list {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }
  footer.include-subscription .mailing-list form {
    flex-direction: column;
  }
  footer.include-subscription .mailing-list form input[type="text"] {
    padding: 16px;
    font-size: 0.9em;
  }
  footer.include-subscription .mailing-list form input[type="submit"] {
    padding: 15px;
    font-size: 1em;
  }
  footer.include-subscription .mailing-list form input[type="submit"]:hover {
    background-color: #000;
  }
  footer.include-subscription .mailing-list .success {
    padding: 8px 0 5px 0;
    width: unset;
  }
}
