name: Dapp

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "infrastructure/**"
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment for workflow execution'
        required: false
        default: 'dev'
      upstream_builds:
        description: 'Upstream builds'
        required: false
      upstream_ref:
        description: 'Git reference to checkout (e.g. branch name)'
        required: false
        default: 'main'

jobs:
  dapp-detect-changes:
    runs-on: ubuntu-latest
    outputs:
      path-filter: ${{ steps.filter.outputs.path-filter }}
    steps:
      - uses: actions/checkout@v2
        if: github.event_name == 'pull_request'

      - uses: dorny/paths-filter@v2
        if: github.event_name == 'pull_request'
        id: filter
        with:
          filters: |
            path-filter:
              - './!((docs|infrastructure)/**)'

  dapp-build-and-publish:
    needs: dapp-detect-changes
    if: |
      github.event_name != 'pull_request'
        || needs.dapp-detect-changes.outputs.path-filter == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Load environment variables
        uses: keep-network/ci/actions/load-env-variables@v1
        with:
          # TODO: Consider passing of `environment` input instead of using 
          # hardcoded value. Would require some rework in action's code or
          # in config files.
          environment: 'ropsten'

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
      
      - name: Resolve latest tbtc.js
        if: github.event_name != 'workflow_dispatch'
        run: npm update @keep-network/tbtc.js

      - name: Get upstream packages' versions
        if: github.event_name == 'workflow_dispatch'
        uses: keep-network/ci/actions/upstream-builds-query@v1
        id: upstream-builds-query
        with:
          upstream-builds: ${{ github.event.inputs.upstream_builds }}
          query: |
            tbtcjs-version = github.com/keep-network/tbtc.js#version

      - name: Resolve latest tbtc.js
        if: github.event_name == 'workflow_dispatch'
        run: |
            npm install --save-exact \
              @keep-network/tbtc.js@${{ steps.upstream-builds-query.outputs.tbtcjs-version }}

      - name: NPM install
        run: npm ci

      - name: NPM build
        run: npm run build

      - name: Deploy to GCP bucket
        if: github.event_name == 'workflow_dispatch'
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.KEEP_TEST_CI_UPLOAD_DAPP_JSON_KEY_BASE64 }}
          project: ${{ env.GOOGLE_PROJECT_ID }}
          bucket-name: dapp.test.tbtc.network
          set-website: true
          home-page-path: index.html
          error-page-path: index.html
          build-folder: build

      - name: Notify CI about completion of the workflow
        if: github.event_name == 'workflow_dispatch'
        uses: keep-network/ci/actions/notify-workflow-completed@v1
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
        with:
          module: "github.com/keep-network/tbtc-dapp"
          url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          environment: ${{ github.event.inputs.environment }}
          upstream_builds: ${{ github.event.inputs.upstream_builds }}
          upstream_ref: ${{ github.event.inputs.upstream_ref }}
          version: ${{ github.sha }}

  dapp-lint:
    needs: dapp-detect-changes
    if: |
      github.event_name == 'push'
        || needs.dapp-detect-changes.outputs.path-filter == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2 
        with:
          node-version: "14.x"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint
